img{
    border-radius: 50%;
    overflow: hidden;
}
#per-infor_text,#space_one,#tou_xiang{
    display: inline-block;
}
#space_one{
    width: 40px;
    /* 占空用 */
}
#infor1{
    text-align:center;
}
.per_space{
    text-decoration:none;
}